// Заголовки, загальні БЕМ блоки та інше...
.container-card {
      position: relative;
      align-items: center;
      display: flex;
      justify-content: space-between;
      border-radius: toRem(30);
      @include adaptiveValue("padding-top", 70, 20);
      @include adaptiveValue("padding-bottom", 70, 20);
      @include adaptiveValue("padding-right", 50, 15);
      @include adaptiveValue("padding-left", 50, 15);
      box-shadow: 0 toRem(10) toRem(70) 0 rgba(79, 146, 170, 0.1);
      background: #fff;
      @media screen and (max-width: $tablet) {
            flex-direction: column;
            margin: 0 toRem(15);
      }
}

.title {
      font-weight: 700;
      @include adaptiveValue("font-size", 45, 24);
      line-height: 150%;
}

.title-small {
      font-weight: 700;
      @include adaptiveValue("font-size", 30, 20);
      // line-height: 45px;
      line-height: 150%;
      color: #44464a;
}

.btn {
      font-weight: 600;
      @include adaptiveValue("font-size", 24, 20);
      line-height: 150%;
      color: #fff;
      border-radius: toRem(35);
      padding: 10px;
      @include adaptiveValue("width", 370, 290);
      @include adaptiveValue("heigh", 70, 60);

      background: radial-gradient(
            201.65% 141.42% at 0% 0%,
            rgb(119, 183, 219) 30.728766322135925%,
            rgb(139, 204, 241) 100%
      );
}

.list-list {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: toRem(20);

      &__item {
            width: min-content;
            border-radius: toRem(30);
            font-weight: 600;
            line-height: 150%;
            color: #44464a;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 toRem(10) toRem(70) 0 rgba(79, 146, 170, 0.1);
            p {
                  text-wrap: nowrap;
                  padding: toRem(20) toRem(40);
            }
      }
}

.list-style {
      display: flex;
      flex-direction: column;
      gap: toRem(30);
      margin-top: toRem(40);
      li {
            font-weight: 600;
            line-height: 150%;
            color: #44464a;
            text-wrap: balance;
            align-items: start;
            @include adaptiveValue("font-size", 20, 14);
            list-style-type: disc;
            list-style-image: url(../img/marker.svg);
            &::marker {
            }
      }
}
