.header {
    padding: toRem(30) toRem(0);

		&__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: toRem(10);
				// display: grid;
				// grid-template-columns: toRem(320) 1fr;
				// align-items: center;
				// @media screen and (max-width:$mobileSmall){
				// 	 grid-template-columns: toRem(100) 1fr; 
				// }
				// @media screen and (max-width: $mobile) {
				// grid-template-columns: toRem(150) 1fr;
				// }
				// @media screen and (max-width:$tablet){
				// grid-template-columns: toRem(450) 1fr;
				// }

				
				
		}

		&__logo {
			@include adaptiveValue('width', 167, 83);
			img {
			max-width: 100%;
			}
		}

		&__menu {
            display: flex;
		}

		&__menu-btn {
		}

		&__nav {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            @include adaptiveValue("gap", 50, 20);
			// display: grid;
			// grid-template-columns: repeat(2, 1fr);
			// align-items: center;
			// grid-column-gap: toRem(51);
			// @media screen and (max-width:$mobile){
			// 	 grid-column-gap: toRem(25); 
			// }
		}

		&__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
			row-gap: toRem(50);
            @include adaptiveValue("column-gap", 50, 20);
			@media screen and (max-width:$mobile){
				 flex-wrap: nowrap; 
			}
		}

		&__start {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #49444a;
            border-radius: toRem(50);
            text-align: center;
            padding-top: toRem(5);
			padding-bottom: toRem(5);
			@include adaptiveValue("width", 165, 122);
			@include adaptiveValue("height", 34, 28);
			// @include adaptiveValue("padding-right", 15, 10);
			// @include adaptiveValue("padding-left", 15, 10);
            font-weight: 700;
            @include adaptiveValue("font-size", 16, 12);
            color: #44464a;
			
		}
}
.header-list {

		&__item {
                  font-weight: 600;
                  font-size: toRem(16);
                  color: #44464a;
                  transition: color .3s ease 0s;
				@media screen and (max-width:$mobile){
				 font-size: toRem(30);

					}

            &:hover {
                color: red;
            }
		}
}

.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			z-index: 2;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: toRem(50) toRem(15) toRem(15) toRem(30);
			transition: left 0.3s;
			flex-direction: column;
			align-items: center;
			background-color: rgba($color: #8ac6e8, $alpha: 0.8);
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(70);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		@media (max-width: $mobile) {
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		@media (max-width: $mobile) {
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}

